h1 {
    text-align: center;
}

code {
    display: block;
    white-space: pre-line;
    background-color: #f5f2f0;
    padding: 10px;
    font-style: italic;
}

.color-1 {
    color: red;
    background-color: blue;
}
.color-2 {
    color: rgb(255,0,0);
    background-color: rgb(0%,0%,100%);
}
.color-3 {
    color: rgb(0,0,0, 0.3);
    background-color: rgb(0,0,255, 0.3);
  }
  .color-4 {
    color: rgb(0,0,0, 0.3);
  }

p{
    margin: 2px;
}
li>p:first-child{
    margin-top: 5px;
    font-weight: bold;
}