
<ul>
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li class="dropdown">
    <a class="dropbtn">Úloha 1</a>
    <div class="dropdown-content">
      <a routerLink="/assignment1" routerLinkActive="active">Zadání</a>
      <a routerLink="/assignment1" routerLinkActive="active">Řešení</a>
    </div>
  </li>
  <li class="dropdown">
    <a  class="dropbtn">Úloha 1</a>
    <div class="dropdown-content">
      <a routerLink="/assignment1" routerLinkActive="active">Zadání</a>
      <a routerLink="/assignment1" routerLinkActive="active">Řešení</a>
    </div>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>